<div>
    <div class="card-content">
      <div class="card-img">
        <img src="" alt="">
        <span>
          <h4>{{product.name}}</h4>
        </span>
      </div>
      <div class="card-desc">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
          quo, perspiciatis
          voluptas totam</p>
        <a href="#" class="btn-card">Read</a>
      </div>
    </div>
  </div>