<div class="container content">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>

      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Agregar una nueva categoria</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="Imagen	Url">Imagen Url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Imagen Url" #url>
            </div>
            <div class="form-group">
              <label for="description">descripcion</label>
              <input type="text" class="form-control" id="description" placeholder="descripcion" #description>
            </div>
            <button type="submit" class="btn btn-primary"
              (click)="agregar(nombre.value, url.value,description.value)">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="mb-5">
    <div class="row">
      <div class="row row-flex">
        <app-product *ngFor="let d of categories"></app-product>
      </div>

    </div>

  </div>
</div>
